nav {
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	/*justify-content: space-evenly;*/
	top: 0px;
	left: 0px;
	background-color: #000;
	color: #c29dc1;
	width: 100%;
	height: 3rem;
	font-size: 1.5rem;
	padding: 0em 0.1em 0em 0.1em;
}

div {
	padding-left: 10px;
	padding-right: 10px;
}

#navBar a {
	color: #c29dc1;
}

Link:visited {
	color: #ecbfeb;
}

#navBar a:visited {
	color: #ecbfeb;
}