#logoButton {
    font-family: 'Fira Mono', monospace;
    font-weight: bold;
    background-color: #000;
    font-size: 1.4rem;
    color: #c29dc1;
    border: none;
}

#logoButton:hover {
    background-color: #fff;
    color: #3d623e;
}